/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}




body {
    background: #f9f6f1;
    color: #302e31;
    font-size: 16px;
    line-height: 22px;
    font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
    font-weight: normal;
    min-height: 100%;
    overflow-x: hidden;
}

p {
    margin-bottom: 16px;
}

h1 {
    font-size: 2em;
    margin: 1em 0 1em 0;
}
h2 {
    font-size: 1.8em;
    margin: 1em 0 1em 0;
}

h1, h2, h3, h4, h5, h6, legend {
    font-weight: 700;
    font-family: "Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif;
    color: #3D405B;
}

header {
    background: #3D405B;
    color: #fff;
}
header h1 {
    color: #fff;
}

body {

}

a {
    color: #008DD5;
}

a:visited {
    color: #474973;
}

hr{
    color:#3D405B;
    background-color: #3D405B;
}

ul,ol {
    margin-left: 2em;
    margin-bottom: 16px;
}
ul {
    list-style-type: disc;
}
ol {
    list-style-type: decimal;
}
pre {
    margin-bottom:16px;
}

footer {
    margin:16px 0 16px 0;
    font-size:14px;
}

code {
    font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
    background-color: #eff0f1;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 1px 5px;
}


table {
    /* Remove spacing between table cells (from Normalize.css) */
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
}

table caption {
    color: #000;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0;
    text-align: center;
}

table td,
table th {
    border-left: 1px solid #cbcbcb;/*  inner column border */
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible; /*to make ths where the title is really long work*/
    padding: 0.5em 1em; /* cell padding */
}

/* Consider removing this next declaration block, as it causes problems when
there's a rowspan on the first cell. Case added to the tests. issue#432 */
table td:first-child,
table th:first-child {
    border-left-width: 0;
}

table thead {
    background-color: #3d405b;
    color: #fff;
    text-align: left;
    vertical-align: bottom;
}

table td {
    background-color: transparent;
}
/* nth-child selector for modern browsers */
table tr:nth-child(2n-1) td {
    background-color: #f2f2f2;
}

/* BORDERED TABLES */
.table-bordered td {
    border-bottom: 1px solid #cbcbcb;
}
.table-bordered tbody > tr:last-child > td {
    border-bottom-width: 0;
}


/* HORIZONTAL BORDERED TABLES */

.table-horizontal td,
.table-horizontal th {
    border-width: 0 0 1px 0;
    border-bottom: 1px solid #cbcbcb;
}
.table-horizontal tbody > tr:last-child > td {
    border-bottom-width: 0;
}

@media (min-width: 992px){
    .table-container .table-col {
        display: table-cell;
        float: none;
        vertical-align: top;
    }
    .table-container {
        display: table;
    }
    .table-container .table-row {
        height: 100%;
        display: table-row;
    }
}

nav {
    background:#ececec;
    padding-top: 30px;
}